<div class="main-table_booking_box" style="display: block;">
  <div class="inn_cont">
  <div class="inner_table_booking_box">
      <div class="booking_box_one table_booking_date">
          <i class="fa fa-calendar"></i>
          <input type="text" placeholder="Select Date" id="trdate" readonly="readonly" title="Select date (mm/dd/YYYY)" class="hasDatepicker">
      </div>

      <div class="booking_box_one table_booking_time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <input type="text" id="trtimev" placeholder="Time" readonly="readonly">
          <div class="clear"></div>
          <div class="table_booking_time_main" id="trtimed">
              <div class="box-select-scroll">
                  <div class="select-box-time">
                      Breakfast
                  </div>
                  <div class="select-box-time">
                      Brunch
                  </div>
                  <div class="select-box-time">
                      Lunch
                  </div>
                  <div class="select-box-time">
                      High Tea
                  </div>
                  <div class="select-box-time">
                      Dinner
                  </div>
                  <div class="select-box-time">
                      Mid Night Dinner
                  </div>
                  <div class="select-box-time">
                      All Night
                  </div>
              </div>
          </div>
      </div>

      <div class="booking_box_one table_booking_people">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="text" id="trperv" placeholder=" No. of people " readonly="readonly">
          <div class="clear"></div>
          <div class="table_booking_time_main" id="trperd">
              <div class="box-select-scroll" id="trperson">
                  <div class="select-box-time">
                      1  person
                  </div>
                  <div class="select-box-time">
                      2  person
                  </div>
                  <div class="select-box-time">
                      3  person
                  </div>
                  <div class="select-box-time">
                      4  person
                  </div>
                  <div class="select-box-time">
                      5  person
                  </div>
                  <div class="select-box-time">
                      6  person
                  </div>
                  <div class="select-box-time">
                      7  person
                  </div>
                  <div class="select-box-time">
                      8  person
                  </div>
                  <div class="select-box-time">
                      9  person
                  </div>
                  <div class="select-box-time">
                      10  person
                  </div>

                  <div class="select-box-time">
                      More than 10
                  </div>

              </div>
          </div>
      </div>

      <div class="booking_box_one table_booking_cuisines">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <input type="text" id="trcuisinev" placeholder="Cuisines">
          <div class="clear"></div>

          <div class="table_booking_time_main">
              <div class="box-select-scroll" style="max-height:auto; overflow:visible;">
                  <div class="table_booking_cusign" id="trcuisines">
                      <label class="booking_check1">Please wait...
                      </label>

                      <div class="clear"></div>
                  </div>

              </div>
          </div>

      </div>

      <div class="booking_box_one table_booking_location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <input type="text" id="trcityv" placeholder="City">
          <input type="hidden" id="trctid" value="0">
          <div class="clear"></div>
          <div class="table_booking_time_main" id="trcityd">
              <div class="box-select-scroll" style="max-height:auto; overflow:visible;">
                  <div class="table_booking_city" id="trcities">
                      <a>Please wait...</a>

                      <div class="clear"></div>
                  </div>

                      </div>
          </div>
      </div>
      <div class="booking_box_one table_booking_area">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <input type="text" id="trcav" placeholder="City Area">
          <input type="hidden" id="trctaid" value="0">
           <div class="clear"></div>
          <div class="table_booking_time_main" id="trcad">
              <div class="box-select-scroll" style="max-height:auto; overflow:visible;">
                  <div class="table_booking_city" id="trcaid">
                      <a>Please wait...</a>

                      <div class="clear"></div>
                  </div>

                      </div>
          </div>
      </div>
       <div class="booking_box_one" id="searchtr">
           <a class="table_booking_search"> <i class="fa fa-search" aria-hidden="true"></i> </a>
      </div>

  </div>
      </div>
</div>
