<div>
  <app-header></app-header>
</div>
<div class="container">

<div class="container2">

  <img src="../../../assets/IMAGES/veg.png">
</div>

<div class="c2">
 <h1 class="text"> <i class="fas fa-car-side fa-3x">Savour the fusion,delight with every bite</i></h1>
</div>

</div>
<div class="speciality">


<h1 class="text-center">
  <i>OUR SPECIALITY</i>
</h1>
<div class="container">
  <div class="row">
    <div class="card " style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/IMAGES/Sabudana khichadi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sabudana khichadi</h5>
        <p class="card-text">Sabudana khichadi is an Indian dish consisting of soaked tapioca that is fried with spices such as cumin, red chili powder, and salt</p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">Try now </a>
        <a href="#" class="card-link"><button>ADD TO CART</button></a>
      </div>
    </div>
    <div class="card " style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/IMAGES/kulfi falooda.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Kulfi falooda</h5>
        <p class="card-text">a traditional Indian ice cream made with slowly simmered whole milk that is flavored with pistachio, rose water, and saffron</p>
      </div>

      <div class="card-body1">
        <a href="#" class="card-link">Try now</a>
        <a href="#" class="card-link"><button>ADD TO CART</button></a>
      </div>
    </div>
    <div class="card " style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/IMAGES/Fritto misto.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Fritto misto</h5>
        <p class="card-text">Fritto misto is one of those dishes that differs widely across the country. Along the Italian seaside </p>
      </div>

      <div class="card-body1">
        <a href="#" class="card-link">Try now </a>
        <a href="#" class="card-link"><button>ADD TO CART</button></a>
      </div>
    </div>

        </div>

</div>



</div>




<app-footer></app-footer>

