div{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 90px;
}
div a{
  background-color: antiquewhite;
  padding: 0.3rem 1 rem;
  margin:0.2rem 0.15rem;
  border-radius:10rem;
  font-weight:600;
  color:blueviolet;
  text-decoration: none;
}
