<app-header></app-header>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Login</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="wrap">
          <div class="img" style="background-image: url(../../../assets/IMAGES/img3.jpg);"></div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Sign In</h3>
              </div>
              <div class="w-100">
                <p class="social-media d-flex justify-content-end">
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                  <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                </p>
              </div>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="Onsubmit()" class="signin-form">
              <div class="form-group mt-3">
                <div class="error-list" *ngIf="loginForm.controls['email'].errors && isSubmitted">
                  <div *ngIf="loginForm.controls['email'].errors['required']">Email should not be empty</div>
                  <div *ngIf="loginForm.controls['email'].errors['email']">Email is not correct</div>
                </div>
                <input type="text" class="form-control" formControlName="email">
                <label class="form-control-placeholder" for="email">Email</label>
              </div>
              <div class="form-group">
                <div class="error-list" *ngIf="loginForm.controls['password'].errors && isSubmitted">
                  <div *ngIf="loginForm.controls['password'].errors['required']">Password should not be empty</div>
                  <div *ngIf="loginForm.controls['password'].errors['minlength']">Password should be at least 6 characters</div>
                </div>
                <input id="password-field" type="password" class="form-control" formControlName="password">
                <label class="form-control-placeholder" for="password">Password</label>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right">
                  <a href="#">Forgot Password</a>
                </div>
              </div>
            </form>
            <p class="text-center">Not a member? <a data-toggle="tab" routerLink="/register">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
